div.box1 {
    padding: 20px;
    flex-direction: row;
    display: flex;
    height: 50px;
    border: #fff;
}

div.box {
    position: relative;
    border: #fff;
}

div.shift {
    padding-left: 20px;
}