<body>
    <div class="padded">
        <label>
            <input placeholder = "Search an article..." type = "text" [formControl] = "search">
        </label>
        <button class="btn btn-pill btn-warning" (click)="browseToggle()">Browse Articles</button>

        
        <!-- <button (click)="getArticle()">Go</button>  -->

        <div *ngIf="browse; else doSearch">
            <div *ngFor="let article of articles; let i=index">
                <br/>
                <h3>{{ article.title }}</h3>
                <p>
                    {{article.description}}
                </p>
                <a class="btn btn-secondary" href="{{article.url}}">
                    Read full article
                </a>
            </div>
        </div>
        <ng-template #doSearch>
            <h1>Search Results: </h1>
            <div *ngFor="let article of articles; let i=index">
                <div *ngFor="let word of article.title.split(' ')">
                    <div *ngIf="word==search.value">
                        <br/>
                        <h3>{{ article.title }}</h3>
                        <p>
                            {{article.description}}
                        </p>
                        <a class="btn btn-secondary" href="{{article.url}}">
                            Read full article
                        </a>
                    </div>
                </div>
                <div *ngIf="article.title">
    
                </div>
            </div>
        </ng-template>
    </div>    
</body>