<div class="padded">

  <div class="container-1">
    <h1 class="vert-stack"> FirstComponent</h1>

    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary">first menu</button>
      <button type="button" class="btn btn-secondary">second menu</button>
      <button type="button" class="btn btn-secondary">third menu</button>
      <button type="button" class="btn btn-secondary">fourth menu</button>
    </div>
  </div>
  <div class="horiz-stack">
    <h1>Flexbox?</h1>
    <p>Learning about class selectors. .class el vs el.class cs .class .</p>
    <div>
      <div class="vert-stack container-2">
        <h3>Box One</h3>
        <p>
          Lorem ipsum dolor ...
        </p>
      </div>
      <div class="vert-stack container-2">
        <h3>Box Two</h3>
        <p>
          Lorem ipsum dolor ...
        </p>
      </div>
    </div>
  </div>

  <!-- 
    where is this function ( onLoadConfigPress ) from  
    https://stackoverflow.com/questions/7427041/javascript-passing-text-input-to-a-onclick-handler 
  -->
  <br/>
  <input type="text" id="configname" name="configname" /> 
  <input type="button" value="Submit" 
  onclick="onLoadConfigPress(document.getElementById('configname').value)" />
  
</div>